.nav-button {
    font-size: 1.40rem;
    font-weight: 700;
    text-align: center;
    height: 3.13rem;
    width: 12.76rem;
    border-radius: 13px;
    border: 0;
    background-color: #D6000D;
    color: #FFF;
    margin-right: 2rem;
    cursor: pointer;
}