@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,500&display=swap');
.main-title {
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;
    padding-top: 2rem;
    padding-left: 2rem;
    line-height: 4rem;
}

.red {
    color: #D6000D;
}

.main-title.-second {
    font-weight: 700;
    font-style: normal;
    font-size: 1.60rem;
    padding-top: 0;
    padding-left: 0;
    line-height: 3.40rem;
}

.second {
    color: #D6000D;
    font-size: 3.80rem;
}

.main-title.-form {
    font-weight: 700;
    font-style: normal;
    font-size: 1.40rem;
    padding-top: 3rem;
    padding-left: 0;
    line-height: 3.60rem;
}

.main-title.-input {
    font-weight: 400;
    font-style: normal;
    font-size: 1.26rem;
    padding-top: 0;
    padding-left: 1.81rem;
    line-height: unset;
}

.main-title.-input::-moz-placeholder {
    color: #000;
    opacity: 0.7;
}

.main-title.-input::-webkit-input-placeholder {
    color: #000;
    opacity: 0.7;
}

.main-title.-xp {
    font-weight: 400;
    font-style: normal;
    font-size: 1.20rem;
    padding-top: 0;
    padding-left: 10rem;
    line-height: 1.50rem;
}

.main-title.-name {
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding-top: 0.90rem;
    padding-bottom: 0.20rem;
    padding-left: 10rem;
    line-height: 1.50rem;
}

.main-title.-job {
    font-weight: 700;
    font-style: normal;
    font-size: 1.20rem;
    padding-top: 0;
    padding-left: 10rem;
    line-height: 1.60rem;
}

.main-title.-footer {
    font-weight: 700;
    color: #FFF;
    font-style: normal;
    font-size: 2.40rem;
    padding-top: 6rem;
    padding-left: 10rem;
    line-height: 3rem;
    list-style: none;
}

.main-title.-footer.-main {
    font-weight: 900;
    font-style: italic;
    font-size: 4rem;
    padding-top: 6rem;
    padding-left: 0;
    line-height: 2.20rem;
}

.main-title.-items {
    font-weight: 400;
    color: #FFF;
    font-style: normal;
    font-size: 1.40rem;
    padding-top: 1rem;
    padding-left: 0;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
}

.main-title.-items.-email {
    text-decoration: underline;
}

.main-title.-items.-pd {
    padding-top: 2.70rem;
}

@media only screen and (max-width: 1400px) {
    .second {
        font-size: 3.40rem;
    }
    .main-title.-xp {
        font-size: 1.10rem;
        line-height: 1.40rem;
    }
    .main-title.-job {
        font-size: 1.10rem;
        line-height: 1.40rem;
    }
    .main-title.-footer {
        font-size: 2.30rem;
        padding-left: 4rem;
        line-height: 3rem;
    }
    .main-title.-footer.-main {
        font-size: 3.40rem;
        line-height: 2.50rem;
    }
    .main-title.-items {
        font-size: 1.30rem;
    }
}

@media only screen and (max-width:1200px) {
    .main-title.-input {
        font-size: 1.10rem;
        padding-left: 1.20rem;
        padding-right: 0.80rem;
    }
    .main-title.-xp {
        font-size: 1rem;
        line-height: 1.20rem;
    }
    .main-title.-name {
        font-size: 1.80rem;
        line-height: 1.30rem;
    }
    .main-title.-footer {
        font-size: 2rem;
        padding-left: 2rem;
    }
    .main-title.-footer.-main {
        font-size: 3.20rem;
        line-height: 2.60rem;
    }
    .main-title.-items {
        font-size: 1.20rem;
    }
}

@media only screen and (max-width:992px) {
    .main-title {
        padding-left: 0;
    }
    .main-title.-second {
        text-align: center;
        line-height: 3.20rem;
    }
    .second {
        font-size: 4rem;
    }
    .main-title.-input {
        font-weight: 400;
        font-style: normal;
        font-size: 1.26rem;
        padding-top: 0;
        padding-left: 1.81rem;
        line-height: unset;
    }
    .main-title.-footer {
        padding-top: 0;
        padding-left: 0;
    }
    .main-title.-footer.-main {
        padding-top: 4rem;
        padding-left: 0;
        line-height: 1rem;
    }
    .main-title.-items {
        font-size: 1.40rem;
        padding-top: 1rem;
        padding-left: 0;
        line-height: 2rem;
    }
    .main-title.-items.-pd {
        padding-top: 2rem;
    }
}