.main-nav {
    padding-top: 3rem;
}

.nav-items {
    text-decoration: none;
    color: #000;
    font-size: 1.40rem;
    font-weight: 400;
    padding-right: 1.60rem;
    line-height: 1rem;
}

.nav-items:hover {
    color: #D6000D;
}


@media only screen and (max-width: 992px) {
    .main-nav {
        padding-top: 1rem;
    }
    .nav-items {
        padding-right: 0;
        line-height: 1rem;
    }
    .nav-items.-center {
        padding-left: 3rem;
        padding-right: 2rem;
    }
}