.main-section {
    display: flex;
    justify-content: space-between;
}

.main-image {
    width: 450px;
    height: 400px;
    padding-top: 8rem;
    padding-left: 10rem;
}

.align {
    padding-top: 12rem;
    padding-right: 18rem;
}