.main-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20rem;
}

.main-image {
    width: 450px;
    height: 400px;
    padding-top: 8rem;
    padding-left: 10rem;
}

.align {
    padding-top: 12rem;
    padding-right: 18rem;
}

/* ------------------------------------------------- */

.main-section.-about {
    padding-bottom: 0;
}

.about {
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    padding-top: 6rem;
    list-style: none;
}

.abt {
    list-style: none;
}

.about-items {
    text-decoration: none;
    color: #000;
    font-size: 1.30rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.main-image.-second {
    padding: 0 8rem 4rem 0;
}

.about-items::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 20px;
    background: url("https://rudijr.github.io/codar/assets/check-circle-fill.svg");
    background-repeat: no-repeat;
    padding-right: 1rem;
}

#form-input {
    border: 0;
    width: 13.20rem;
    height: 3.50rem;
    margin-right: 0.50rem;
    border-radius: 10px;
    background-color: rgb(218, 213, 213);
}

@media only screen and (max-width: 1400px) {
    .main-image {
        width: 400px;
        height: 350px;
        padding-left: 6rem;
    }
    .align {
        padding-right: 14rem;
    }
}

@media only screen and (max-width: 1200px) {
    .main-image {
        width: 370px;
        height: 330px;
        padding-left: 4rem;
    }
    .main-image.-second {
        padding: 0 8rem 3rem 0;
    }
    .align {
        padding-right: 8rem;
    }
    #form-input {
        border: 0;
        width: 9rem;
        height: 3.50rem;
    }
}

@media only screen and (max-width: 992px) {
    .main-section {
        display: flex;
        justify-content: unset;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10rem;
    }
    .main-image {
        padding-left: 0;
        margin: 0 auto;
    }
    .align {
        padding-top: 5rem;
        padding-right: 0;
    }
    .main-section.-about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "img" 
        "items";
        flex-direction: column;
        align-items: unset;
        padding-bottom: 0;
    }
    .about {
        grid-area: items;
        padding-left: 0;
        padding-top: 1rem;
        align-items: center;
    }
    .main-image.-second {
      grid-area: img;
      padding: 0;
      margin: 0 auto;
    }
    .about-items {
        padding-bottom: 1.60rem;
    }
    .main-form {
        display: flex;
        flex-direction: column;
    }
    #form-input {
        border: 0;
        border-radius: 15px;
        width: 15rem;
        margin-right: 0;
        margin-bottom: 1rem;
    }

}